/*Base*/
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container-all {
  max-width: 2560px;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
}

.container-all {
  max-width: 2560px;
}
@media screen and (min-width: 1800px) {
  .container-all {
	max-width: 1800px;
	margin: auto;
  }
}

.fas {
  margin-right: 20px;
}

h1 {
  color: #9356DC;
}

/*Loader*/
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #FFF;
  left: 0;
  top: 0;
  z-index: 10000;
  animation: loader 7s forwards;
}

/*Animation loader*/
@keyframes loader {
  0% {
	opacity: 1;
  }
  100% {
	opacity: 0;
	z-index: -10;
  }
}
.loader__circle {
  border: 10px solid #F3F3F3;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 7s linear forwards;
  /*Placement du loader au milieu de la page*/
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*Animation du loader circle*/
@keyframes spin {
  0% {
	transform: rotate(0deg);
	opacity: 1;
  }
  100% {
	transform: rotate(360deg);
	opacity: 0;
  }
}
/*Onglet recherche de la ville*/
.proj-search {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 20px 0;
  font-weight: bold;
  width: 100%;
}

.presentation {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  padding: 40px 40px;
  margin-bottom: 50px;
}
.presentation__book {
  font-weight: bold;
  font-size: 25px;
}
.presentation__explore {
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  text-align: center;
  color: #FFF;
  font-weight: normal;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: background-color 250ms;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.presentation__explore:hover {
  opacity: 0.8;
  box-shadow: 1rem 1rem 20px rgba(0, 0, 0, 0.25);
}

/*Fonctionnement*/
.function__title {
  margin: 0 0 20px 22px;
}

.function {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
}
.function h2 {
  margin: 0 0 30px 0;
}
.function__choice {
  margin: 0 20px 20px 40px;
  font-weight: bold;
  background-color: #F6F6F6;
  padding: 30px 50px 30px 18px;
  margin-left: 20px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  font-family: "Roboto", sans-serif;
  width: 300px;
  max-height: 78px;
}
.function__choice:hover {
  background-color: #f5edff;
}
.function__choice:hover .fas {
  color: #9356DC;
}
.function__choice__number {
  width: 18px;
  height: 18px;
  padding: 4px 4px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFF;
  position: absolute;
  top: 30%;
  left: -4%;
}

/*Restaurants*/
.restaurants {
  background-color: #f6f6f6;
}
.restaurants__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurants__title {
  padding: 50px 0 10px 22px;
}
.restaurants__card {
  border-radius: 20px;
  background-color: white;
  margin-bottom: 18px;
  position: relative;
  max-width: 280px;
  min-width: 280px;
}
@media screen and (min-width: 375px) {
  .restaurants__card {
	max-width: 330px;
	min-width: 280px;
  }
}
@media screen and (min-width: 650px) {
  .restaurants__card {
	margin-right: 25px;
  }
}
.restaurants__card img {
  width: 100%;
  max-height: 175px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.restaurants__card .restaurants__card__content {
  padding: 19px 11px;
  position: relative;
  display: flex;
}
.restaurants__card .restaurants__card__content h3 {
  margin-bottom: 6px;
}
.restaurants__card .restaurants__card__content .restaurants_card__content__name {
  position: relative;
}
@keyframes heart__full__opacity {
  0% {
	opacity: 0;
  }
  50% {
	opacity: 0.5;
	background-image: linear-gradient(100deg, #9356DC, #FF79DA);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  100% {
	opacity: 1;
	background-image: linear-gradient(100deg, #9356DC, #FF79DA);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
}
@keyframes heart__empty__opacity1 {
  0% {
	opacity: 1;
  }
  50% {
	opacity: 0;
  }
  100% {
	opacity: 0;
  }
}
.restaurants__card .restaurants__card__content .heart {
  position: absolute;
  right: 20px;
  top: 1;
}
.restaurants__card .restaurants__card__content .heart__1 {
  position: relative;
}
.restaurants__card .restaurants__card__content .heart__1:hover {
  animation: heart__empty__opacity1 1s;
}
.restaurants__card .restaurants__card__content .heart__2 {
  position: absolute;
  top: 0px;
  opacity: 0;
  color: #FFF;
}
.restaurants__card .restaurants__card__content .heart__2:hover {
  animation: heart__full__opacity 1s forwards;
}
.restaurants .btn-new {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

/*Bannière*/
.photo__restaurant img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

/*Carte restaurant*/
.card__title {
  font-family: "Shrikhand", cursive;
  max-width: 322px;
}

.fa-heart:before {
  margin-left: 20px;
}

@media screen and (min-width: 1024px) {
  .card__global {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
}

.card {
  background-color: #F6F6F6;
  padding: 36px 21px;
  margin-top: -27px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  z-index: 1;
}
.card .far {
  align-self: flex-end;
}
.card h2 {
  margin-bottom: 35px;
}

.entrees {
  margin-bottom: 27px;
}
.entrees h2::after {
  content: "";
  display: block;
  width: 43px;
  height: 3px;
  background: #99E2D0;
}

@keyframes fadein {
  0% {
	opacity: 0;
  }
  100% {
	opacity: 1;
  }
}
.card__global__entrees {
  animation: fadein 2s;
}
@media screen and (min-width: 1140px) {
  .card__global__entrees {
	margin-right: 10px;
  }
}

.card__global__plats {
  animation: fadein 4s;
}
@media screen and (min-width: 1142px) {
  .card__global__plats {
	margin-right: 10px;
  }
}

.card__global__desserts {
  animation: fadein 6s;
}

.card__global__entrees h2,
.card__global__plats h2,
.card__global__desserts h2 {
  font-weight: normal;
  font-size: 20px;
}

.card__global__contenu {
  background-color: #FFF;
  max-width: 350px;
  height: 70px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  padding: 0 0 0 16px;
  border-radius: 0.75rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
@media screen and (min-width: 400px) and (max-width: 1024px) {
  .card__global__contenu {
	max-width: none;
  }
}
.card__global__contenu__dish {
  width: 350px;
  padding: 14px 0;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
}
.card__global__contenu__dish h3 {
  font-size: 16px;
}
.card__global__contenu__dish h4 {
  font-size: 16px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .card__global__contenu__dish h3 {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
  }
  .card__global__contenu__dish h4 {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
  }
}
.card__global__contenu:hover .card__global__contenu__dish__confirmation {
  margin-right: 0px;
  min-width: 4rem;
  transition: margin-right 0.5s;
}
.card__global__contenu:hover .header_menu {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card__global__contenu:hover .header_menu h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__global__contenu:hover .header_menu h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 405px) {
  .card__global__contenu:hover .header_menu {
	max-width: 130px;
  }
}
.card__global__contenu:hover .circle {
  transform: rotate(360deg);
}

.card__global__contenu__dish__confirmation {
  background-color: #99E2D0;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -64px;
}

.circle {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100px;
  background: #FFF;
  color: #99E2D0;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  transition: transform 0.5s;
}
.circle .fas {
  margin-left: 4px;
}

.center {
  text-align: center;
}

.card__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  font-weight: bold;
  margin-right: 20px;
  width: 25%;
}

.header_menu {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
}
.header_menu h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header_menu h4 {
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*Bouton Commander*/
.bouton__commander {
  padding: 30px 0 80px 0;
  text-align: center;
  background-color: #F6F6F6;
}
.bouton__commander--pink {
  background-color: #9356DC;
  padding: 15px 50px;
  border-radius: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  font-weight: normal;
  font-size: 18px;
  margin: 0 auto;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: background-color 250ms;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.bouton__commander--pink:hover {
  opacity: 0.8;
  box-shadow: 1rem 1rem 20px rgba(0, 0, 0, 0.25);
}

/*Header*/
header {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  width: 100%;
  min-width: 320px;
  padding: 21px 0;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .logo img {
  max-width: 168px;
}

.fa-arrow-left:before {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}

/*Footer*/
.footer {
  background-color: #353535;
  padding: 25px;
}
.footer__logo {
  font-size: 24px;
  font-family: "Shrikhand", sans-serif;
  color: white;
  margin-bottom: 15px;
}
.footer__txt {
  color: white;
}
.footer__icons {
  margin-right: 10px;
}
.footer__list {
  margin-bottom: 10px;
}
